header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 10px;
}

nav {
    position: absolute;
    top: 0;
    background-color: black;
    left: 10%;
    right: 10%;
    text-align: right;
    padding: 20px;
}
.button-1 {
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    color: #fff;
    background-color: rgb(58, 58, 58);
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
    touch-action: manipulation;
    width: 60%;
    margin-top: 10%;
    transition: all 0.3s ease;
}

.button-1:hover {
    padding: 12px 22px;
    background-color: rgb(58, 58, 58);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}


body {
    
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: whitesmoke;
    
}

h1 {
    font-size: 22px;
}
h2 {
font-size: 18px;

}
h3 {
    left: 20%;
    font-size: 18px;
}

    
  



.image {
    
    width: 40%;
    float: right;
    padding: 15px;
    border-radius: 10%;
}


.flex-container {
    display: flex;
    flex-wrap:wrap;
    text-align: center;
    margin-bottom: 30px;

}

.flex-item {
    flex: 1 right;
    margin: 5px;
    
}

.table1 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    
}
.table2 {
    
    padding: 8px;
    border: 2px solid back;
}
.table3 {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    border: 2px solid back;
}
.table4 {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    border: 2px solid back;
}
.table5 {
    display: flex;
    flex-wrap: wrap;
    padding: 12px;
    border: 6px solid back;
}

td {
    
    margin: 40px;
    padding: 4px;
    border: 2px solid back;
}

p {
    font-size: 14px;
    color: whitesmoke;
}


.icon {
    width: 40px;
    flex: inline-end;
    padding: 15px;
    margin: 15px;
}



footer {
    
    left: 10%;
    right: 10%;
    bottom: 0;
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: whitesmoke;
    text-align: justify;
    
}

